[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
mypy = "*"
nuitka = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[packages]
msgpack = "*"
websockets = "*"

[scripts]
build ="python setup.py sdist bdist_wheel"
build_nuitka = "python setup.py bdist_nuitka"
gendocs = "sphinx-build -vW --keep-going docs docs/_build"
mypy = "mypy ."
tests = "python -m pytest"
